.companiesMain {
  text-align: center;
  margin-bottom: 100px;
}
.companiesMain > p {
  color: #4a4e57;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.companiesMain > p > span {
  color: #ff3366;
  cursor: pointer;
}

.companieslogoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
  padding-bottom: 0px;
  margin-left: 50px;
  line-height: 100px;
}

.logo1 {
  width: 25%;
}

.logo1 > img {
  width: 170px;
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .companieslogoContainer {
    padding: 0px;
    margin-left: 0px;
    line-height: 50px;
    margin-top: 40px;
  }
  .logo1 > img {
    width: 100px;
  }
  .logo1 {
    width: 50%;
  }
  .companiesMain > p {
    font-size: 14px;
  }
}
