.section3Main {
  padding: 100px;
}
.section3Main > h1 {
  color: #17191d;
  font-size: 48px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 700;
}
.section3Main > p {
  color: #4a4e57;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}

.section3Mid {
  display: flex;
}

.section3midLeft {
  width: 50%;
  margin-right: 40px;
}

.section3midLeft > h3 {
  color: #17191d;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.section3midLeft > p {
  color: #4a4e57;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.section3midLeft > i {
  color: #0075eb;
  font-size: 24px;
}

.section3midRight > i {
  color: #0075eb;
  font-size: 24px;
}
.section3midRight {
  width: 50%;
  margin-left: 40px;
}

.section3midRight > h3 {
  color: #17191d;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.section3midRight > p {
  color: #4a4e57;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.section3Pinktext {
  color: #ff3366 !important;
  font-size: 18px !important;
  cursor: pointer;
}

.section3Lower {
  display: flex;
  margin-top: 100px;
}

.section3lowerLeft {
  width: 50%;
  float: right;
  position: relative;
}

.section3lowerRight {
  width: 50%;
  position: relative;
}
.section3lowerRight > h1 {
  color: #17191d;
  font-size: 26px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 25px;
}
.section3lowerRight > p {
  color: #4a4e57;
  font-size: 16px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  margin-left: 30px;
}
.section3imageSection {
  margin-left: 150px;
}
.section3imageSection > img {
  border-radius: 8px;
}

.section3Quote {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
}

.section3Avatar {
  position: absolute;
  right: 70px;
  top: 250px;
}
.section3Pinktextline {
  display: none;
}

@media screen and (max-width: 479px) {
  .section3Main {
    padding: 30px;
  }
  .section3Main > h1 {
    font-size: 32px;
    line-height: 1.3;
  }
  .section3Main > p {
    font-size: 16px;
  }
  .section3Mid {
    display: flex;
    flex-direction: column;
  }
  .section3midLeft {
    width: 100%;
    margin-right: 40px;
  }

  .section3midLeft > h3 {
    font-size: 18px;
  }

  .section3midLeft > p {
    font-size: 16px;
  }

  .section3midRight {
    width: 100%;
    margin-left: 0px;
    margin-right: 40px;
  }

  .section3midRight > h3 {
    font-size: 18px;
  }

  .section3midRight > p {
    font-size: 16px;
  }
  .section3lowerLeft {
    display: none;
  }
  .section3lowerRight {
    width: 100%;
    position: relative;
  }
  .section3Pinktext {
    font-size: 16px !important;
  }
  .section3lowerRight > h1 {
    font-size: 18px;
  }
  .section3lowerRight > p {
    font-size: 14px;
  }
  .section3Lower {
    margin-top: 30px;
  }
  .section3Pinktextline {
    display: block;
    color: #ff3366 !important;
    font-size: 16px !important;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
}

@media screen and (min-width: 1400px) {
  .section3Avatar {
    position: absolute;
    right: 240px;
    top: 250px;
  }
}
