/* .chatIcon > i {
}
.chatIcon {
  position: -webkit-sticky;
  position: sticky;
  font-size: 36px;
  background-color: #ff3366;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  padding: 10px;
} */
