.section2Main {
  background-color: #faf9fa;
  padding: 30px;
}
.section2Main > h1 {
  color: #17191d;
  font-size: 48px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 50px;
}
.section2Main > p {
  color: #4a4e57;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-left: 50px;
}
